.page-button
    background-color #f2f2f2
    .t-button
        margin-top 10px

    .fixed-button
        width 100%
        position fixed
        bottom 0
        radius 0
        padding 0
        margin 0
