rem(n)
    unit(n * 10 / 750, 'rem')

$text-seconary = #666

.scene-body
    background url("http://gtms02.alicdn.com/tps/i2/TB16e1xHXXXXXbbXXXX8HLfVVXX-640-1136.jpg") no-repeat
    background-size 100%

.scene-warn
    color #f40
    text-align center
    padding 20px 0
    line-height 20px

.scene-list li, .scene-list-record
    border 1px solid #DDDDDD
    padding 20px 10px
    margin 10px
    border-radius 5px

.t-tab-secondary
    margin-top 10px
    .t-tab-head
        padding 0

.scene-faq
    line-height 22px

.scene-faq-list
    margin 20px

.scene-faq-list dt
    font-weight bold

.scene-faq-list dd
    margin-left 1.5em

.scene-law
    padding 20px

.scene-law p
    text-indent 2em
    line-height 20px

.scene-tab-bar
    color $text-seconary
.scene-home
    .icon-text
        font-size 16px
        line-height 30px
        text-align center
    .icon-is svg
        width rem(100)
        height rem(100)

