rem(n)
    unit(n * 10 / 750, 'rem')

$gray-color = #ddd
$gray-line = 1px solid $gray-color
$gray-hairline = 0.5px solid #ccc
$icon-size = rem(120)

.icon-grid-item
    width 100%
    height 100%
    &.hover
        background #f6f6f6
    .icon-text
        font-size 0.4rem
        margin-top rem(16)
    .icon-grid-icon
        position relative
        .icon-bg svg
            width $icon-size
            height $icon-size
            fill #f8f8f8
        .icon-is
            position absolute
            top rem(30)
            left rem(30)
        .icon-is svg
            width rem(60)
            height rem(60)
            fill #000
    .icon-grid-icon svg
        width $icon-size
        height $icon-size
